---
import Layout from '../layouts/Layout.astro';
import Icon from '../components/Icon.astro'
---

<Layout title="Welcome to Astro.">
	<div class="flex w-[700px] hover:bg-slate-300">
		<Icon iconName='Instagram' fill="white"/>
		<Icon iconName='Twitter' fill="white"/>
		<Icon iconName='LinkedIn' fill="white"/>
	</div>
</Layout>

<style>
	div {
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
