---
import Layout from '../layouts/Layout.astro';
import Icon from '../components/Icon.astro'
---

<Layout title="Welcome to Astro.">
	<div class="flex w-full hover:bg-blue-300">
		<Icon iconName='Instagram' style='fill-white w-16'/>
		<Icon iconName='Twitter' style='fill-white w-16'/>
		<Icon iconName='LinkedIn' style='fill-white w-16'/>
	</div>
</Layout>

<style>
	div {
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
