---
import Layout from '@/layouts/Layout.astro';
import SocialMediaDonut from '@/components/SocialMediaDonut.astro'
---

<Layout title="Welcome to Astro.">
	<div class="flex">
		<div class="content flex-1">
			<h1 class="text-white">Hi! I'm Edgar</h1>
			<p> Desarrollador web</p>	
		</div>
		<SocialMediaDonut 
			size='250px' 
			iconSize='40px' 
			rotation='right'
			startAngle={0}
			backgroundColor='#fff'
		>
			<img src="/foto-rosco-ej.webp" class="h-full"></img>
		</SocialMediaDonut>
	</div>
</Layout>

<style>
	div {
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
