---
import Layout from '@/layouts/Layout.astro';
import SocialMediaDonut from '@/components/SocialMediaDonut.astro'
---

<Layout title="Welcome to Astro.">
	<h1>Hola</h1>
	<SocialMediaDonut size='300px' iconSize='60px'>
	</SocialMediaDonut>
</Layout>

<style>
	div {
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
